@model  IEnumerable<Trainee>
@{
    ViewBag.Title = "TopTrainees";
}

<h2>Top_Trainees</h2>

<br />
@if (ViewBag.manager == "5") { 
if (Model.Count() == 0)
{
        <div class=" danger alert alert-danger col-md-4" role="alert">
            <h5>Sorry There Is No <strong>Trainees</strong></h5>
        </div>
    }
    else
    {
        <div class="table-responsive">
            <table class=" mainTable table-dark text-center table-striped table table-bordered">
                @*<table class="table table-hover table-striped table-bordered">*@
                <tr>
                <thead>
                <th>#@Html.DisplayNameFor(ww => ww.TraineeId)</th>
                <th>@Html.DisplayNameFor(ww => ww.FirstName) </th>
                <th>@Html.DisplayNameFor(ww => ww.SecondName) </th>
                <th>@Html.DisplayNameFor(ww => ww.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(ww => ww.Gender)</th>
                <th>@Html.DisplayNameFor(ww => ww.Age)</th>
                <th>@Html.DisplayNameFor(ww => ww.Sport.SportName)</th>
                <th>@Html.DisplayNameFor(ww => ww.Coach.FirstName)</th>
                <th>@Html.DisplayNameFor(ww => ww.Record)</th>
                <@*th>Mange</th>*@
            </thead>
            </tr>
            @foreach (var trainee in Model)
            {

                <tr>
                    <td>@Html.DisplayFor(w => trainee.TraineeId)</td>
                    <td>@Html.DisplayFor(w => trainee.FirstName)</td>
                    <td>@Html.DisplayFor(w => trainee.SecondName)</td>
                    <td>@Html.DisplayFor(w => trainee.PhoneNumber)</td>
                    <td>@Html.DisplayFor(w => trainee.Gender)</td>
                    <td>@Html.DisplayFor(w => trainee.Age)</td>
                    <td>@Html.DisplayFor(w => trainee.Sport.SportName)</td>
                    <td>@Html.DisplayFor(w => trainee.Coach.FirstName)</td>
                    <td>@Html.DisplayFor(w => trainee.Record)</td>
                </tr>

            }

            </table>
        </div>
        <a href="@Url.Action("RefreshTrainees", "Trainee")" class="btn btn-primary" style="border-radius: 9px; width: 145px; margin-top: auto; margin-left: auto; margin-right: auto; margin-bottom: -51px;"><i class="fas fa-sync-alt"></i> Refresh</a>
    }
}

else
{
<div class=" danger alert alert-danger col-md-4" role="alert">
    <h5>Sorry, only manger can see this !</h5>
</div>
}
